# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# GOOGLE_MAPS_PLATFORM_KEY: Required for Google Maps visualization.
GOOGLE_MAPS_PLATFORM_KEY="AIzaSyCnOlV7aDeTga6QXuHSH30um6TdrtDSwNo"

# AIRQO_API_KEY: Required to fetch measurements from AirQo API.
VITE_AIRQO_API_KEY="PASTE_YOUR_AIRQO_KEY_HERE"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
